/* amarelo meli: #fff059 */

body {
  background-color: #f0f0f0;
}

nav { 
  background-color: #fff059;
}

nav .brand-logo {
  color: #5d5d5d;
}


nav li a {
  color: #5d5d5d;
}

.preco {
  font-weight: 400;
  font-size: 1em;
  color: dodgerblue;
}

.produto p {
  font-size: 1.2em;
  font-weight: 200;
}

.nome-produto {
  color: #000;
}

.shadow {
  position: fixed;
  background-color: #000;
  opacity: 0.5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.shadow > .container {
  opacity: 1;
  color: #fff;
/*  margin: auto;*/
}